#prompt {
    position: relative;
    width: 100%;
}

#overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: gainsboro;
    border-radius: 20px;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

#text {
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  }
