/*body {
    background-image: url(/img/bg.gif);
    background-size: 100%;
}*/

#prompt {
    position: relative;
    width: 100%;
}

#overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #F2E8CF;
    border-radius: 20px;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

#text {
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#slime, #knight {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

#flashcards {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#flashcards::-webkit-scrollbar {
    display: none;
}

@keyframes tilt-shaking {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(2deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-2deg); }
    100% { transform: rotate(0deg); }
  }

#endScreen {
    background-color: rgba(0, 0, 0, 0.50);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    border-radius: 20%;
    position: fixed;
    top: 0;
    left: 0;
}

#endContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrong {
    background-color: rgb(255, 172, 172);
}

.right {
    background-color: rgb(157, 235, 160);
}

#logo {
    width: 150px;
}